# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Rmd and md files (I use some of them for documentation)
*.Rmd
*.R
*.md

# All those folders:
Fexi
logs

# Local folders
.local/

# AI agents
.claude/
.stata-prog/

# Others
.DS_Store

# source files serving as basis
source/
